
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/" class="<%= path === '/' ? 'active' : ''%>">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product"  class="<%= path === '/admin/add-product' ? 'active' : ''%>">Add product</a></li>
            </ul>
        </nav>
    </header>