<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if productcss}}
        <link rel="stylesheet" href="/css/product.css">
    {{/if}}
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/" class="{{#if activeshop}}active{{/if}}">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product" class="{{#if activeprod}}active{{/if}}">Add product</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>